﻿@charset "UTF-8";
/*========================================

        Author:		Sonny Prince
        Company:	TRW
        Project:    .NET Developer Test

        Date:					

========================================*/
/*========================================

    Base Styles

========================================*/
/*========================================

	Reset

========================================*/
/* line 7, ../sass/base/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

/*========================================

	Micro Clearfix

========================================*/
/* line 30, ../sass/base/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 35, ../sass/base/_base.scss */
.clearfix:after {
  clear: both; }

/* line 38, ../sass/base/_base.scss */
.clearfix {
  *zoom: 1; }

/*========================================

	Box Layout

========================================*/
/* line 48, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  *behavior: url("../scripts/boxsizing.htc"); }

/* line 53, ../sass/base/_base.scss */
.container {
  margin: 0 auto; }

/*========================================

	Useful Global Styles
		
========================================*/
/* line 64, ../sass/base/_base.scss */
img {
  max-width: 100%;
  height: auto !important; }

/* line 68, ../sass/base/_base.scss */
nav ul {
  list-style: none; }

/* line 72, ../sass/base/_base.scss */
.noListStyle {
  list-style: none; }

/* line 74, ../sass/base/_base.scss */
.left {
  float: left !important;
  *display: inline; }

/* line 75, ../sass/base/_base.scss */
.right {
  float: right !important;
  *display: inline; }

/* line 76, ../sass/base/_base.scss */
.centerText {
  text-align: center; }

/* line 77, ../sass/base/_base.scss */
.clear {
  clear: both; }

/*========================================

	Image Jitter Fix

========================================*/
/* line 90, ../sass/base/_base.scss */
img {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

/*========================================

	Grid Basic Setup

========================================*/
/*========================================

	Adds boxsizing to all elements

========================================*/
/* line 25, ../sass/base/_grid.scss */
* {
  box-sizing: border-box;
  *behavior: url("../scripts/boxsizing.htc"); }

/*========================================

	Container Setup

========================================*/
/* line 36, ../sass/base/_grid.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box; }
  @media (max-width: 760px) and (orientation: portrait), (max-width: 569px) and (orientation: landscape) {
    /* line 36, ../sass/base/_grid.scss */
    .container {
      padding: 10px; } }

/*========================================

	Setup Column and Offset Column
	Float and Margins

========================================*/
/* line 54, ../sass/base/_grid.scss */
.column, .columns {
  float: left;
  *display: inline;
  margin: 0 1.04167%; }
  /* line 58, ../sass/base/_grid.scss */
  .column.first, .columns.first {
    margin-left: 0; }
  /* line 61, ../sass/base/_grid.scss */
  .column.last, .columns.last {
    margin-right: 0; }

/*========================================

	Clearfix and margin on Rows

========================================*/
/* line 72, ../sass/base/_grid.scss */
.row, header .topHeader .logo, .albumSection .description, .albumSection .tracks {
  *zoom: 1;
  margin-bottom: 25px; }
  /* line 75, ../sass/base/_grid.scss */
  .row:before, header .topHeader .logo:before, .albumSection .description:before, .albumSection .tracks:before, .row:after, header .topHeader .logo:after, .albumSection .description:after, .albumSection .tracks:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 79, ../sass/base/_grid.scss */
  .row:after, header .topHeader .logo:after, .albumSection .description:after, .albumSection .tracks:after {
    clear: both; }

/*========================================

	Create Each Grid Column Percentage

========================================*/
/*========================================

	Standard Column Widths And Offsets

========================================*/
/* line 101, ../sass/base/_grid.scss */
.one.columns {
  width: 6.25%; }

/* line 101, ../sass/base/_grid.scss */
.two.columns {
  width: 14.58333%; }

/* line 101, ../sass/base/_grid.scss */
.three.columns {
  width: 22.91667%; }

/* line 101, ../sass/base/_grid.scss */
.four.columns {
  width: 31.25%; }

/* line 101, ../sass/base/_grid.scss */
.five.columns {
  width: 39.58333%; }

/* line 101, ../sass/base/_grid.scss */
.six.columns {
  width: 47.91667%; }

/* line 101, ../sass/base/_grid.scss */
.seven.columns {
  width: 56.25%; }

/* line 101, ../sass/base/_grid.scss */
.eight.columns {
  width: 64.58333%; }

/* line 101, ../sass/base/_grid.scss */
.nine.columns {
  width: 72.91667%; }

/* line 101, ../sass/base/_grid.scss */
.ten.columns {
  width: 81.25%; }

/* line 101, ../sass/base/_grid.scss */
.eleven.columns {
  width: 89.58333%; }

/* line 101, ../sass/base/_grid.scss */
.twelve.columns {
  width: 97.91667%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-one {
  margin-left: 9.375%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-two {
  margin-left: 17.70833%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-three {
  margin-left: 26.04167%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-four {
  margin-left: 34.375%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-five {
  margin-left: 42.70833%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-six {
  margin-left: 51.04167%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-seven {
  margin-left: 59.375%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-eight {
  margin-left: 67.70833%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-nine {
  margin-left: 76.04167%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-ten {
  margin-left: 84.375%; }

/* line 106, ../sass/base/_grid.scss */
.offset-by-eleven {
  margin-left: 92.70833%; }

/*========================================

	Resonsive Column Widths And Offsets

========================================*/
@media only screen and (max-width: 760px) and (orientation: portrait), (orientation: landscape) and (max-width: 569px) {
  /* line 119, ../sass/base/_grid.scss */
  .row, header .topHeader .logo, .albumSection .description, .albumSection .tracks {
    margin-bottom: 0; }

  /* line 122, ../sass/base/_grid.scss */
  .columns {
    float: none;
    display: block;
    margin: 0 10px; }
    /* line 126, ../sass/base/_grid.scss */
    .columns.first {
      margin-left: 10px; }
    /* line 129, ../sass/base/_grid.scss */
    .columns.last {
      margin-right: 10px; }

  /* line 134, ../sass/base/_grid.scss */
  .one.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .two.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .three.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .four.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .five.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .six.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .seven.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .eight.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .nine.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .ten.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .eleven.columns {
    width: auto; }

  /* line 134, ../sass/base/_grid.scss */
  .twelve.columns {
    width: auto; } }
@media only screen and (max-width: 768px) {
  /* line 141, ../sass/base/_grid.scss */
  .tabletColumn.columns {
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%; } }
@media only screen and (max-width: 569px) {
  /* line 150, ../sass/base/_grid.scss */
  .tabletColumn.columns {
    width: auto;
    float: none;
    margin: 0 10px; }

  /* line 157, ../sass/base/_grid.scss */
  .mobileColumn.columns {
    float: left;
    margin: 0 10px;
    width: calc(50% - 20px); } }
/*========================================

	Resonsive Mixin For Responsive 
	Styles Within The Normal Classes.

========================================*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */ }

/**
 * Remove default margin.
 */
/* line 20, ../sass/base/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 34, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 55, ../sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 68, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 78, ../sass/base/_normalize.scss */
[hidden],
template {
  display: none; }

/* Links
 ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 90, ../sass/base/_normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 98, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, ../sass/base/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, ../sass/base/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 170, ../sass/base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 174, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, ../sass/base/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, ../sass/base/_normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, ../sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 222, ../sass/base/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 230, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 253, ../sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 267, ../sass/base/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 278, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 291, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 303, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 312, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 323, ../sass/base/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 335, ../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 347, ../sass/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 371, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 380, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 391, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 400, ../sass/base/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 409, ../sass/base/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 420, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 425, ../sass/base/_normalize.scss */
td,
th {
  padding: 0; }

/*========================================

	Global Styles

========================================*/
@font-face {
  font-family: 'trw-boiler';
  src: url("../fonts/trw-boiler.eot?zbfryo");
  src: url("../fonts/trw-boiler.eot?#iefixzbfryo") format("embedded-opentype"), url("../fonts/trw-boiler.woff?zbfryo") format("woff"), url("../fonts/trw-boiler.ttf?zbfryo") format("truetype"), url("../fonts/trw-boiler.svg?zbfryo#trw-boiler") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 12, ../sass/global/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'trw-boiler';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 40, ../sass/global/_fonts.scss */
.icon-remove:before {
  content: "\e61d"; }

/* line 44, ../sass/global/_fonts.scss */
.icon-chevron-down:before {
  content: "\e600"; }

/* line 48, ../sass/global/_fonts.scss */
.icon-chevron-left:before {
  content: "\e601"; }

/* line 52, ../sass/global/_fonts.scss */
.icon-chevron-right:before {
  content: "\e602"; }

/* line 56, ../sass/global/_fonts.scss */
.icon-chevron-up:before {
  content: "\e603"; }

/* line 60, ../sass/global/_fonts.scss */
.icon-fab-plus:before {
  content: "\e607"; }

/* line 64, ../sass/global/_fonts.scss */
.icon-twitter:before {
  content: "\e608"; }

/* line 68, ../sass/global/_fonts.scss */
.icon-home:before {
  content: "\e901"; }

/* line 72, ../sass/global/_fonts.scss */
.icon-search:before {
  content: "\e986"; }

/* line 76, ../sass/global/_fonts.scss */
.icon-attachment:before {
  content: "\e9cd"; }

/* line 80, ../sass/global/_fonts.scss */
.icon-warning:before {
  content: "\ea07"; }

/* line 84, ../sass/global/_fonts.scss */
.icon-notification:before {
  content: "\ea08"; }

/* line 88, ../sass/global/_fonts.scss */
.icon-embed:before {
  content: "\ea80"; }

/*========================================

	Usage
	--------------------------------------

	.className {
		z-index: z(modal);
	}

	Will Output:

	.className {
		z-index: 3000;
	}

========================================*/
/*========================================

    Global Colours
    _________________

    This Files Should Be Used For All
    Colour Variables.

========================================*/
/*========================================

    Mixins
    _________________

    Useful Snippets & 
    Crossbrowser Things..

========================================*/
/*========================================

    Clearfix

========================================*/
/*========================================

    Cross Browser Keyframe Animations

========================================*/
/*========================================

    Cross Browser Vertical Gradient

========================================*/
/*========================================

    Cross Browser Horizontal Gradient

========================================*/
/*========================================

    Cross Browser Opacity

========================================*/
/*========================================

    REM Cross Browser Font Size 
    Calculator

========================================*/
/*========================================

    Simple Inline List

========================================*/
/*========================================

    Simple Inline List With Drop

========================================*/
/*========================================

    Vedorize Mixin

========================================*/
/*========================================

    Force better render performance

========================================*/
/*========================================

    Placeholder styling

========================================*/
/*========================================

    Typographic Styles
    _________________

    This File Is For Styling All 
    Typography.

========================================*/
/* line 21, ../sass/global/_typography.scss */
body {
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  font-size: 1.4rem; }

/* line 27, ../sass/global/_typography.scss */
p, br, li {
  line-height: 1.5em;
  margin-bottom: 1.5em; }
  /* line 30, ../sass/global/_typography.scss */
  p a, br a, li a {
    color: #333333; }
  /* line 33, ../sass/global/_typography.scss */
  p:last-child, br:last-child, li:last-child {
    margin-bottom: 0; }

/* line 38, ../sass/global/_typography.scss */
h1, h2, h3, h4, h5 {
  color: #333333;
  margin: 0 0 0.5em 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em; }
  /* line 43, ../sass/global/_typography.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a {
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
    text-decoration: none;
    color: #4d4d4d; }
    /* line 47, ../sass/global/_typography.scss */
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
      color: #2790ac; }

/* line 53, ../sass/global/_typography.scss */
h1 {
  font-size: 40px;
  font-size: 4rem; }

/* line 56, ../sass/global/_typography.scss */
h2 {
  font-size: 30px;
  font-size: 3rem; }

/* line 59, ../sass/global/_typography.scss */
h3 {
  font-size: 26px;
  font-size: 2.6rem; }

/* line 62, ../sass/global/_typography.scss */
h4 {
  font-size: 24px;
  font-size: 2.4rem; }

/* line 65, ../sass/global/_typography.scss */
h5 {
  font-size: 20px;
  font-size: 2rem; }

/*========================================

    Layout Styles

========================================*/
/*========================================

	Modular Styles
	_________________

    This File Should Be Used For Modular
    Elements That Can Be Extended And 
    Reused.

========================================*/
/*========================================

	Layout Styles
	_________________

    This File Should Be Used For Main
    Layout Styling: i.e. Header, Footer,
    Content Area.

========================================*/
/*========================================

	Page Header Styles

========================================*/
/* line 18, ../sass/layout/_layout.scss */
header {
  padding: 60px 0;
  background: no-repeat right bottom #2790ac;
  background-size: auto 100%; }
  /* line 23, ../sass/layout/_layout.scss */
  header .topHeader .logo {
    margin-bottom: 0;
    position: relative;
    -webkit-transition: all 0.2s;
            transition: all 0.2s; }
    /* line 28, ../sass/layout/_layout.scss */
    header .topHeader .logo img {
      height: 45px;
      width: 100px; }
    /* line 32, ../sass/layout/_layout.scss */
    header .topHeader .logo p {
      top: -25px;
      left: 110px;
      width: 300px;
      color: #ffffff;
      position: absolute;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      font-size: 24px;
      font-size: 2.4rem; }
    /* line 42, ../sass/layout/_layout.scss */
    header .topHeader .logo:hover {
      filter: alpha(opactiy=80);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8; }
  /* line 46, ../sass/layout/_layout.scss */
  header .topHeader nav {
    margin-left: 0px;
    list-style: none; }
    /* line 118, ../sass/global/_mixins.scss */
    header .topHeader nav li {
      float: left;
      margin-bottom: 0px; }
      /* line 121, ../sass/global/_mixins.scss */
      header .topHeader nav li a {
        display: block;
        text-decoration: none; }
    /* line 48, ../sass/layout/_layout.scss */
    header .topHeader nav ul {
      float: right; }
      /* line 50, ../sass/layout/_layout.scss */
      header .topHeader nav ul li {
        margin-left: 10px; }
        /* line 52, ../sass/layout/_layout.scss */
        header .topHeader nav ul li a {
          width: 140px;
          color: #ffffff;
          padding: 11px;
          display: block;
          text-align: center;
          -webkit-transition: all 0.2s;
                  transition: all 0.2s;
          font-size: 16px;
          font-size: 1.6rem;
          border: 1px solid #ffffff;
          border: 1px solid rgba(255, 255, 255, 0.4); }
          /* line 62, ../sass/layout/_layout.scss */
          header .topHeader nav ul li a:hover {
            background: rgba(255, 255, 255, 0.2); }
        /* line 66, ../sass/layout/_layout.scss */
        header .topHeader nav ul li:first-child {
          margin: 0; }
          /* line 68, ../sass/layout/_layout.scss */
          header .topHeader nav ul li:first-child a {
            width: auto;
            padding: 12px;
            line-height: 0;
            font-size: 0px;
            font-size: 0rem; }
            /* line 73, ../sass/layout/_layout.scss */
            header .topHeader nav ul li:first-child a:before {
              content: '\e901';
              font-family: 'trw-boiler';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              /* Better Font Rendering =========== */
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 20px;
              font-size: 2rem; }
        /* line 81, ../sass/layout/_layout.scss */
        header .topHeader nav ul li.current_page_item a {
          background: rgba(255, 255, 255, 0.2); }
  /* line 89, ../sass/layout/_layout.scss */
  header .bottomHeader {
    margin-top: 60px; }
    /* line 91, ../sass/layout/_layout.scss */
    header .bottomHeader .row, header .bottomHeader .topHeader .logo, header .topHeader .bottomHeader .logo, header .bottomHeader .albumSection .description, .albumSection header .bottomHeader .description, header .bottomHeader .albumSection .tracks, .albumSection header .bottomHeader .tracks {
      margin-bottom: 0; }
    /* line 94, ../sass/layout/_layout.scss */
    header .bottomHeader h1 {
      color: #ffffff;
      font-weight: 400;
      font-style: italic; }
      /* line 98, ../sass/layout/_layout.scss */
      header .bottomHeader h1 strong {
        font-weight: 600; }
    /* line 102, ../sass/layout/_layout.scss */
    header .bottomHeader .versionNumber {
      color: #ffffff;
      padding-top: 10px; }

/* line 109, ../sass/layout/_layout.scss */
main.content {
  padding: 80px 0; }
  /* line 111, ../sass/layout/_layout.scss */
  main.content ul, main.content ol {
    margin-left: 20px; }

/*========================================

	Page Footer Styles

========================================*/
/* line 123, ../sass/layout/_layout.scss */
footer {
  background: #333333; }
  /* line 125, ../sass/layout/_layout.scss */
  footer .row, footer header .topHeader .logo, header .topHeader footer .logo, footer .albumSection .description, .albumSection footer .description, footer .albumSection .tracks, .albumSection footer .tracks {
    margin-bottom: 0; }
  /* line 128, ../sass/layout/_layout.scss */
  footer p {
    color: #ffffff;
    padding: 20px 0;
    font-size: 12px;
    font-size: 1.2rem; }
  /* line 133, ../sass/layout/_layout.scss */
  footer .right {
    text-align: right; }

/*========================================

    Responsive Styles
    _________________

	This File Is For Responsive Changes
	For Items That Can Not Be Styled
	In Their Natural Habitat.

========================================*/
/*========================================
    Component Styles
========================================*/
/*========================================

	Button Styles

========================================*/
/* line 7, ../sass/layout/components/_buttons.scss */
.button {
  border: 1px solid;
  padding: 10px 30px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  text-decoration: none;
  font-size: 16px;
  font-size: 1.6rem; }
  /* line 13, ../sass/layout/components/_buttons.scss */
  .button.inline {
    display: inline-block; }
  /* line 16, ../sass/layout/components/_buttons.scss */
  .button.block {
    display: block; }
  /* line 19, ../sass/layout/components/_buttons.scss */
  .button.standard {
    color: #333333;
    border-color: #c4c4c4;
    background: #f7f7f7; }
    /* line 23, ../sass/layout/components/_buttons.scss */
    .button.standard:hover {
      background: #c4c4c4; }

/*========================================

	Search Bar Styles

========================================*/
/* line 7, ../sass/layout/components/_searchSection.scss */
.searchSection {
  background: #333333; }
  /* line 9, ../sass/layout/components/_searchSection.scss */
  .searchSection form {
    position: relative; }
    /* line 11, ../sass/layout/components/_searchSection.scss */
    .searchSection form input {
      border: 0;
      outline: 0;
      color: #ffffff;
      background: none;
      appearance: none;
      padding: 13px 0 17px;
      width: calc(100% - 60px); }
      /* line 189, ../sass/global/_mixins.scss */
      .searchSection form input::-webkit-input-placeholder {
        color: #ffffff;
        font-style: italic;
        font-family: 'Open Sans', sans-serif; }
      /* line 190, ../sass/global/_mixins.scss */
      .searchSection form input:-moz-placeholder {
        color: #ffffff;
        font-style: italic;
        font-family: 'Open Sans', sans-serif; }
      /* line 191, ../sass/global/_mixins.scss */
      .searchSection form input::-moz-placeholder {
        color: #ffffff;
        font-style: italic;
        font-family: 'Open Sans', sans-serif; }
      /* line 192, ../sass/global/_mixins.scss */
      .searchSection form input:-ms-input-placeholder {
        color: #ffffff;
        font-style: italic;
        font-family: 'Open Sans', sans-serif; }
    /* line 25, ../sass/layout/components/_searchSection.scss */
    .searchSection form button {
      right: 0;
      border: 0;
      outline: 0;
      width: 100px;
      height: 100%;
      color: #ffffff;
      background: none;
      text-align: right;
      position: absolute;
      -webkit-transition: all 0.2s;
              transition: all 0.2s;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none; }
      /* line 37, ../sass/layout/components/_searchSection.scss */
      .searchSection form button:before {
        content: '\e986';
        font-family: 'trw-boiler';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 20px;
        font-size: 2rem; }
      /* line 43, ../sass/layout/components/_searchSection.scss */
      .searchSection form button:hover {
        color: #2790ac; }

/*========================================

	Search Result Block Styles

========================================*/
/* line 7, ../sass/layout/components/_searchResult.scss */
.searchResult, .albumSection {
  padding: 10px;
  height: 120px;
  position: relative;
  border: 1px solid #ededee; }
  /* line 12, ../sass/layout/components/_searchResult.scss */
  .searchResult img, .albumSection img {
    max-width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px; }
  /* line 20, ../sass/layout/components/_searchResult.scss */
  .searchResult .description, .albumSection .description {
    top: 50%;
    margin-left: 110px;
    position: relative;
    display: inline-block;
    width: calc(100% - 110px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    /* line 28, ../sass/layout/components/_searchResult.scss */
    .searchResult .description .artist p, .albumSection .description .artist p, .searchResult .description .song p, .albumSection .description .song p {
      font-size: 16px;
      font-size: 1.6rem; }
    /* line 32, ../sass/layout/components/_searchResult.scss */
    .searchResult .description .song, .albumSection .description .song {
      font-weight: 600;
      font-style: italic; }
  /* line 37, ../sass/layout/components/_searchResult.scss */
  .searchResult .button, .albumSection .button {
    margin-top: 3px; }

/*========================================

	Album Block Styles

========================================*/
/* line 7, ../sass/layout/components/_albumBlock.scss */
.albumSection {
  height: auto; }
  /* line 10, ../sass/layout/components/_albumBlock.scss */
  .albumSection .description {
    top: 50px;
    margin-bottom: 60px; }
  /* line 15, ../sass/layout/components/_albumBlock.scss */
  .albumSection .tracks {
    margin-left: 110px; }
    /* line 18, ../sass/layout/components/_albumBlock.scss */
    .albumSection .tracks li {
      list-style: none;
      margin-bottom: 5px; }
      /* line 21, ../sass/layout/components/_albumBlock.scss */
      .albumSection .tracks li a {
        padding: 5px;
        display: block;
        text-decoration: none;
        border: 1px solid #ededee; }

/*========================================

	The Shame File
	_________________

    1.If it’s a hack, it goes in shame.css.

	2.Document all hacks fully:
		- What part of the codebase does it relate to?
		- Why was this needed?
		- How does this fix it?
		- How might you fix it properly, given more time?

	3. Do not blame the developer; if they explained why they had to do it 
	   then their reasons are probably (hopefully) valid.

	4. Try and clean shame.css up when you have some down time.
		- Even better, get a tech-debt story in which you can dedicate actual 
		  sprint time to it.

	http://csswizardry.com/2013/04/shame-css

========================================*/
/*========================================

    Plugin Styles

========================================*/

/*# sourceMappingURL=style.css.map */