﻿@model Trw.DeveloperTest.Models.Api.SearchResponse.Albums
@{
    ViewBag.Title = "Search";
}


@foreach (var album in Model.items)
{
    <h1>@album.name</h1>
    <img src="@album.images[0].url" style="height:50px; width:50px;" />
    
}
